{% extends 'designweb/layout.html' %}
{% block childcontent %}
<div style="clear:both;">
</div>
<div id="gallery" style="overflow-y: scroll;height: 100%;">
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" /> 
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div>       
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
 <div class="part">
    <img src="/static/images/react.png" width="150" height="100" />
 </div> 
</div>
{% endblock %}       