{% extends 'designweb/layout.html' %}
{% block childcontent %}
<p> Welcome in home page</p>
<div style="float:left;">
    <img src="/static/images/1671623355147.jpg" width="500" height="300" />
</div>
<div style="float:left;margin-left: 100px;;">
    <form action="" method="post">
        {% csrf_token %}
       <input type="text" placeholder="username" name="txtuser"  />
       <br><br>
       <input type="text" placeholder="password" name="txtpass"  />
       <br><br>
       <input type="text" placeholder="email" name="txtemail"  />
       <br><br>
       <input type="text" placeholder="mobile" name="txtmobile" />
       <br><br>
       <input type="submit" name="btnsubmit" value="Submit" />
    </form>
    {{key}}
</div>


{% endblock %}