<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="header">
     <div id="logo">
       <img src="/static/images/scs.jpg" width="100" height="100">
     </div>
     <div id="menu">
     <ul>
        <li><a href="/designweb">Home</a></li>
        <li><a href="/designweb/about-us">About us</a></li>
        <li><a href="/designweb/services">Services</a></li>
        <li><a href="/designweb/contacts">Contact us</a></li>
        <li><a href="/designweb/gallery">Gallery</a></li>
     </ul>
     </div>
    </div>
    <div id="middle">
        {% block childcontent %}


        {% endblock %}
      
    </div>

    <div id="footer">
        <div style="clear:both;">
        </div>
        <div class="part">
            <ul>
                <li><a href="/designweb">Home</a></li>
                <li><a href="/designweb/about-us">About us</a></li>
                <li><a href="/designweb/services">Services</a></li>
                <li><a href="/designweb/contacts">Contact us</a></li>
                <li><a href="/designweb/gallery">Gallery</a></li>
             </ul>
        </div>
        <div class="part">
            <ul>
                <li><a href="/designweb">Home</a></li>
                <li><a href="/designweb/about-us">About us</a></li>
                <li><a href="/designweb/services">Services</a></li>
                <li><a href="/designweb/contacts">Contact us</a></li>
                <li><a href="/designweb/gallery">Gallery</a></li>
             </ul>
        </div>
        <div class="part">
            <ul>
                <li><a href="/designweb">Home</a></li>
                <li><a href="/designweb/about-us">About us</a></li>
                <li><a href="/designweb/services">Services</a></li>
                <li><a href="/designweb/contacts">Contact us</a></li>
                <li><a href="/designweb/gallery">Gallery</a></li>
             </ul>
        </div>
    </div>
</body>
</html>